@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./vairable";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: $color-grey;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100vh;
}

.layout {
  height: 90vh;
}

a {
  cursor: pointer;
}

body {
  overflow: hidden;
}

.active {
  background-color: $white;
}

.ql-editor img {
  max-width: 100%; /* Ensures images don't overflow */
  height: auto;    /* Keep aspect ratio intact */
}